/* common-styles */
body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}



/* banner-related-style */
.header {
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    display: flex;
    justify-content: space-between;
    gap: 90px;
    align-items: center;
    /* padding: 50px 200px 0px 240px; */
    margin:0px 200px 0px 200px;
}

.banner-title {
    color: #272727;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-msg {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 800;
    /* line-height: 30px; */
    margin-top: 10px;
}